body{
    background-color: rgb(238, 228, 228);
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#button-container{
    padding: 10px;
}
#grid-container{
    display: grid;
    width: 800px;
    height: 800px;
    border: 4px solid rgb(75,0,130); 
}
.grid-square{
    outline:2px solid rgb(75,0,130);
}